<a href="https://colab.research.google.com/github/gabrielalastra/TwitterAPI_COVID_2022/blob/main/data_collected.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tweepy as tw
import pandas as pd
import json

<h3 align='right'>Twitter API Keys and Authorization</h3>
<hr color='cian'>

In [2]:
twKey = 'xxxx'
twKeysecret = 'xxxxx'
twbearertoken = 'xxxx'
twtoken = 'xxx'
twtokensecret = 'xxxxx'

In [3]:
auth=tw.OAuthHandler(twKey, twKeysecret)
auth.set_access_token(twtoken, twtokensecret)

In [4]:
api=tw.API(auth, wait_on_rate_limit=True)

<h3 align='right'>Collecting the Data</h3>
<h4 align='right'>27.jan.2022</h4>
<hr color='cian'>

<h5 align='right'>English</h5>

In [5]:
diciEN = {}
diciEN = diciEN.fromkeys(['created_at',
                      'text',
                      'user',
                      'source',
                      'favorite_count',
                      'retweet_count'])

In [8]:
word = "COVID" +'-filter:retweets'
cursor = tw.Cursor(api.search, q=word, lang='en', count=100).items(300)

In [9]:
for i in cursor:
    for key in diciEN.keys():
        try:
            value=i._json[key]
            diciEN[key].append(value)
        except KeyError:
            value=''
            if(diciEN[key] is None):
                diciEN[key]=value
            else:
                diciEN[key].append(value)
        except:
            diciEN[key]=[value]

In [13]:
with open('diciEN_COVID_jan2022.json', 'w') as fp:
  json.dump(diciEN, fp, indent=4)

<h5 align='right'>Deutsch</h5>

In [15]:
diciDE = {}
diciDE = diciDE.fromkeys(['created_at',
                      'text',
                      'user',
                      'source',
                      'favorite_count',
                      'retweet_count'])

In [23]:
word = "COVID" +'-filter:retweets'
cursorDE = tw.Cursor(api.search, q=word, lang='de', count=100).items(300)

In [24]:
for i in cursorDE:
    for key in diciDE.keys():
        try:
            value=i._json[key]
            diciDE[key].append(value)
        except KeyError:
            value=''
            if(diciDE[key] is None):
                diciDE[key]=value
            else:
                diciDE[key].append(value)
        except:
            diciDE[key]=[value]

In [26]:
with open('diciDE_COVID_jan2022.json', 'w') as fp:
  json.dump(diciDE, fp, indent=4)

In [25]:
#testing
COVID_de= pd.DataFrame.from_dict(diciDE)
COVID_de.head()

                       created_at  ... retweet_count
0  Thu Jan 27 11:00:45 +0000 2022  ...             0
1  Thu Jan 27 11:00:35 +0000 2022  ...             0
2  Thu Jan 27 11:00:27 +0000 2022  ...             0
3  Thu Jan 27 11:00:17 +0000 2022  ...             0
4  Thu Jan 27 11:00:16 +0000 2022  ...             0

[5 rows x 6 columns]

In [28]:
COVID_en = pd.DataFrame.from_dict(diciEN)
COVID_en.head()

                       created_at  ... retweet_count
0  Thu Jan 27 10:49:20 +0000 2022  ...             0
1  Thu Jan 27 10:49:19 +0000 2022  ...             0
2  Thu Jan 27 10:49:18 +0000 2022  ...             0
3  Thu Jan 27 10:49:18 +0000 2022  ...             0
4  Thu Jan 27 10:49:17 +0000 2022  ...             0

[5 rows x 6 columns]